.postsContainer {
    margin: 0 auto;
    max-width: 700px;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;

    .postContainer {
        margin-bottom: 3.125rem;
        text-decoration: none !important;

        @media (max-width: 1023px) {
            margin-bottom: 2rem;

            h1 {
                margin-bottom: 0;
            }

            & > p {
                margin-bottom: 0.725rem;
                line-height: 1.125rem;
            }
        }
    }

    .postInfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 35%;

        @media (max-width: 1023px) {
            flex-direction: column;
            width: 100%;
            align-items: flex-start;

            div + div {
                margin-top: 0.425rem;
            }
        }
    }



    @media (max-width: 1023px) {
        padding-bottom: 2rem;
    }
}

.previewModeBtn {
    background-color: #F8F8F8;
    border-radius: 0.25rem;
    padding: 18px 0;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
        color: black;
        font-size: 1.125rem;
        font-weight: 600;
        text-decoration: none;

        transition: filter 0.2s;

        &:hover {
            filter: opacity(0.4);
        }
    }
}