.postContainer {
    margin: 0 auto;
    padding: 5rem 0;
    padding-bottom: 0;
    width: 90%;
    max-width: 700px;

    h1 {
        font-size: 3rem;
        color: #F8F8F8;
        line-height: 3.630625rem;

        @media (max-width: 1023px) {
            font-size: 1.5rem;
            line-height: 1.8rem;
        }
    }

    .contentContainer {
        padding-top: 3.525rem;
        padding-bottom: 4.125rem;
        width: 100%;

        p {
            color: #BBBBBB;
            font-size: 1.125rem;
            line-height: 1.5rem;
            letter-spacing: -0.5px;
            margin-bottom: 0.6rem;

            @media (max-width: 1023px) {
                font-size: 0.75rem;
                line-height: 1.125rem;
            }
        }

        .contentHeading {
            color: #F8F8F8;
            font-size: 2.4rem;
            margin-bottom: 1.2rem;
            margin-top: 0.6rem;
    
            @media (max-width: 1023px) {
                font-size: 1rem;
                line-height: 1.2rem;
            }
        }

        @media (max-width: 1023px) {
            padding: 3rem 0;
        }
    }

    @media (max-width: 1023px) {
        padding-top: 3rem;
    }
}

.postInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    min-width: 350px;
    margin-top: 1.5625rem;

    @media (max-width: 1023px) {
        flex-direction: column;
        align-items: flex-start;

        div + div {
            margin-top: 0.425rem;
        }
    }
}

.navigationContainer {
    border-top: 1px solid rgba(215, 215, 215, 0.1);
    width: 90%;
    max-width: 700px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .postNavContainer {
        display: flex;
        flex-direction: column;
        padding-top: 3.0625rem;

        h1 {
            font-weight: 400;
            color: #f8f8f8;
            font-size: 1.125rem;
            line-height: 1.375;
            letter-spacing: -0.5px;

            @media (max-width: 1023px) {
                font-size: 0.8rem;
                line-height: 1.025rem;
            } 
        }

        a {
            text-decoration: none;
            font-size: 1rem;
            line-height: 1.1875rem;
            color: #FF57B2;

            @media (max-width: 1023px) {
                font-size: 0.7rem;
                line-height: 1rem;
            } 
        }
    }
}